html {
  background: #060606 url("/images/bg-tile.png") repeat 0 0;
}

html, body {
/*  text-shadow: 0px 1px 1px #555; */
  color: #DDE2E1;
/*  background: #000000; */
  text-align: center;
  font-size: 14px;
  font-family: "American Typewriter", "Courier New", Courier, mono;
  text-shadow: none;
}

body a {
  font-size: inherit;
  color: inherit;
  background: inherit;
}

h1 {
  font-family: 'Helvetica Neue', 'Helvetica Neue LT Com', 'Helvetica';
  font-weight: bold;
  font-size: 136px;
  line-height: 80%;
  letter-spacing: -5px;
  /*text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;*/
}

p {
}

