---
layout: default
title: CAVE BABY
---
{% include links.html %}
{% include title.html %}
<p>
  You can reach us at: <a href="mailto:andy@cavebaby.me">andy@cavebaby.me</a>, <a href="mailto:crystal@cavebaby.me">crystal@cavebaby.me</a>, or <a href="mailto:danny@cavebaby.me">danny@cavebaby.me</a>.
</p>
<p>
  You can book us at: <a href="mailto:book@cavebaby.me">book@cavebaby.me</a>.
</p>
<p>
	<a href="http://twitter.com/cavebabyband" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-show-count="false" data-width="155px"></a>
	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	<a href="http://myspace.com/cavebabyband"><img src="/images/myspace.png"/></a>
	<a href="http://www.last.fm/music/Cave+Baby"><image src="/images/lastfm_32.png"></a>
	<a href="http://itunes.apple.com/ca/album/cave-baby/id443162812"><image src="/images/apple.png"></a>
</p>

<p>
</a>