---
layout: default
title: CAVE BABY
---
{% include links.html %}
{% include title.html %}
<img src="/images/cavebaby_digital_300x300.png" alt="s/t Record Cover"/>
<p>
	<a href="http://cavebaby.bandcamp.com/album/cave-baby"><strong>CAVE BABY s/t</strong></a><br/> (June 21st, 2011).<br/>
	<a href="http://cavebaby.bandcamp.com/track/the-best-coast">1. The Best Coast</a><br/>
	<a href="http://cavebaby.bandcamp.com/track/please-lets-do-something">2. Please, Let's Do Something...</a><br/>
	<a href="http://cavebaby.bandcamp.com/track/failing-manitoba">3. Failing Manitoba</a><br/>
	<a href="http://cavebaby.bandcamp.com/track/emilys-ugly-voice">4. Emily's Ugly Voice</a><br/>
	<a href="http://cavebaby.bandcamp.com/track/moscow">5. Moscow</a><br/>
	<a href="http://cavebaby.bandcamp.com/track/people-often">6. People Often</a><br/>
	<a href="http://cavebaby.bandcamp.com/track/bitter-logic">7. Bitter Logic</a><br/>
	Recorded at <a href="http://gasstationrecordings.blogspot.com">Gas Station Recordings</a> on Toronto Island by Dale Morningstar.<br/>Mixed by <a href="http://cavebaby.me">Cave Baby</a>.<br/>Mastered by <a href="shawnjurekmastering.com">Shawn Jurek</a>
</p>

<img src="/images/cavebaby_7inch_300x300.png" alt="7 Inch Record Cover"/>
<p>
	<strong>CAVE BABY - "Moscow 7"</strong><br/>
	(Late Summer 2011 Release)<br/>
	<strong>Side A</strong><br/>
	1. Moscow<br/>
	<strong>Side B</strong><br/>
	1. Please, Let's Do Something...<br/>
	2. Emily's Ugly Voice<br/>
	Recorded at <a href="http://gasstationrecordings.blogspot.com">Gas Station Recordings</a> on Toronto Island by Dale Morningstar.<br/>Mixed by <a href="http://cavebaby.me">Cave Baby</a>.<br/>Mastered by <a href="shawnjurekmastering.com">Shawn Jurek</a>
</p>
<br>
